.footer {
    padding: $section-paddings 0;
    background-color: #333333;
    color: #FEFEFE;
    .footer__container {
        position: relative;
        border-bottom: 1px solid #FEFEFE;
        .footer__contact__body {
            width: 30%;
        }
        .footer__contacts__body {
            padding-left: 20%;
            .footer__navigation {
                padding: em(30) 0 em(80) 0;
                .footer__list {
                    font-weight: var(--fw-md);
                    font-size: var(--fs-body);
                    line-height: 19px;
                    .footer__list__item-active {
                        border-bottom: 1px solid #FEFEFE;
                        padding-bottom: em(3);
                        font-weight: var(--fw-black);
                        &:hover {
                            cursor: default;
                        }
                    }
                    .footer__list__inner {
                        padding-right: 70px;
                        &:last-child {
                            padding-right: 0;
                        }
                        .footer__list__item {
                            color: #FEFEFE;
                            text-transform: capitalize;
                            &:hover {
                                font-weight: var(--fw-black);
                                transition: all 0.3s ease-in-out 0s;
                            }
                        }
                    }
                }
            }
        }
        .footer__center {
            .footer__subtitle {
                padding-bottom: $padding-small;
                font-weight: var(--fw-black);
                font-size: 1.4rem;
                line-height: 16px;
                text-transform: uppercase;
            }
        }
        .footer__contacts {
            .footer__contacts__address {
                padding-bottom: $padding-small/2;
                a {
                    color: #FEFEFE;
                }
            }
            .footer__contacts__details {
                padding-bottom: $padding-small/2;
                a {
                    color: #FEFEFE;
                }
            }
        }
        .footer__contacts__socials {
            margin-bottom: em(40);
            .footer__socials__body {
                .footer__socials__item {
                    padding-right: $padding-small/2;
                    display: inline-block;
                    vertical-align: middle;
                    font-weight: var(--fw-reg);
                    font-size: 1.4rem;
                    line-height: 16px;
                    & img:hover {
                        transform: scale(1.2);
                        transition: 0.5s ease;
                    }
                }
            }
        }
        .footer__button__body {
            position: absolute;
            right: 0;
            top: 0;
            .section-button__block {
                .section-button {
                    width: 275px;
                    font-size: var(--fs-h5);
                    line-height: 21px;
                }
            }
        }
    }
    .footer__logo {
        padding-bottom: em(60);
        font-weight: var(--fw-black);
        a {
            color: #FEFEFE;
            & p {
                font-size: 3.6rem;
                text-transform: lowercase;
                line-height: 42px;
            }
            & h5 {
                font-size: var(--fs-h5);
                line-height: 21px;
                letter-spacing: 1.5px;
            }
        }
    }
    .footer__bottom {
        padding-top: em(45);
        .bottom__body {
            font-size: 1.2rem;
            line-height: 14px;
            color: #BDBDBD;
            .footer__body__item {
                padding-bottom: em(5);
            }
        }
    }
}

//---  Media 
@media screen and (max-width: 1680px) {
    .footer {
        .footer__container {
            .footer__contacts__body {
                padding-left: 15%;
            }
        }
    }
}

@media screen and (max-width: 1365px) {
    .footer {
        .footer__container {
            .footer__button__body {
                left: 46%;
                top: 60%;
            }
            .footer__contacts__body {
                padding-left: 10%;
            }
            .footer__contact__body {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .footer {
        padding: $section-paddings 0 em(50) 0;
        .footer__container {
            flex-direction: column;
            .footer__contact__body {
                width: 70%;
                .footer__contact {
                    .footer__form {
                        .footer__form__title {
                            padding-top: 120px;
                        }
                    }
                }
            }
            .footer__button__body {
                left: 46%;
                top: 0;
                padding-top: 10px;
            }
            .footer__contacts__body {
                padding-left: 0;
                padding-bottom: 60px;
                .footer__navigation {
                    padding: 0 0 30px 0;
                    .footer__menu {
                        height: 0;
                        .footer__list {
                            flex-direction: column;
                            transform: translateY(-570px);
                            &>* {
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .footer {
        padding-top: 50px;
        .outer-container {
            padding: 0 10px;
            .footer__container {
                .footer__contact__body {
                    width: 100%;
                }
                .footer__button__body {
                    left: 0;
                    top: 85%;
                    padding-top: 10px;
                }
                .footer__contacts__body {
                    padding-bottom: 150px;
                }
            }
        }
    }
}