.hero-top__carousel {
    position: absolute;
    min-height: 100%;
    top: 15%;
    left: 50%;
    z-index: 2;
    overflow: hidden;
    .hero-top__carousel__container {
        height: auto;
        //overflow: hidden;
        .carousel__item {
            &.watch__slider__image_notActive {
                display: none;
                visibility: hidden;
            }
            &.watch__slider__image_active {
                display: block;
                visibility: visible;
            }
        }
        .item__description {
            position: relative;
            cursor: pointer;
            & img {
                min-width: 140px;
                width: -webkit-fill-available;
                width: fill-available;
                margin: 0 em(23);
                //filter: drop-shadow(5px 4px 50px rgba(152, 157, 198, 0.25));
            }
            &:hover {
                img {
                    transition: 0.5s ease;
                    min-width: 245px;
                    border-radius: 5px;
                }
                .carousel__item__overlay {
                    opacity: 1;
                }
            }
            &.item__description_active {
                img {
                    transition: 0.5s ease;
                    min-width: 245px;
                    border-radius: 5px;
                }
                .carousel__item__overlay {
                    opacity: 1;
                }
            }
            .carousel__item__overlay {
                position: absolute;
                top: 0;
                bottom: 100%;
                left: 0;
                right: 0;
                width: calc(100% - 46px);
                height: 100%;
                margin-left: 23px;
                transition: 0.5s ease;
                background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
                border-radius: 5px;
                color: #FFF;
                opacity: 0;
                .overlay__text {
                    padding: 0 20px 15px 20px;
                    font-size: 1.4rem;
                    line-height: 1.6rem;
                    overflow-y: hidden;
                }
                .item__overlay__buttons {
                    padding-bottom: 35px;
                    padding-left: 20px;
                    background: transparent;
                    font-size: 1.2rem;
                    line-height: 1.4rem;
                    font-weight: var(--fw-md);
                    text-transform: uppercase;
                    .overlay__button-left,
                    .overlay__button-right {
                        color: #FFF;
                    }
                    .overlay__button-left {
                        //width: 113px;
                        //height: 24px;
                        margin-right: em(15);
                        & span {
                            width: 24px;
                            height: 24px;
                            margin-right: em(3);
                            padding: em(7.5) em(9) em(6.5) em(11);
                            border: 1px solid #FFF;
                            border-radius: 50%;
                        }
                        &:hover {
                            color: var(--clr-accent);
                            & span {
                                border: 1px solid var(--clr-accent);
                                & svg path {
                                    fill: var(--clr-accent);
                                }
                            }
                        }
                    }
                    .overlay__button-right {
                        //     width: 74px;
                        //     height: 24px;
                        & span {
                            //width: 24px;
                            //height: 24px;
                            margin-right: em(3);
                            padding: em(4.5) em(9) em(2.5) em(8);
                            border: 1px solid #FFF;
                            border-radius: 50%;
                        }
                        &:hover {
                            color: var(--clr-accent);
                            & span {
                                border: 1px solid var(--clr-accent);
                                & svg path {
                                    fill: var(--clr-accent);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.hero-top {
    .hero-top__range {
        padding-right: 20%;
        right: 0;
        bottom: 8%;
        position: absolute;
        z-index: 3;
    }
    .hero-top__pagination {
        //padding-top: 30%;
        padding-left: 50%;
        & p {
            padding-bottom: em(15);
            & .gallery-range {
                font-weight: var(--fw-black);
                font-size: 2.4rem;
                color: #FEFEFE;
                line-height: 2.8rem;
            }
        }
    }
}

//---  Media 
@media screen and (max-width: 1365px) {
    .hero-top__carousel {
        left: 50%;
        .hero-top__carousel__container {
            .item__description {
                & img {
                    margin: 0 em(15);
                }
                .carousel__item__overlay {
                    width: calc(100% - 30px);
                    margin-left: 15px;
                }
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .hero-top__carousel {
        top: 15%;
        left: 30%;
    }
}

@media screen and (max-width: 640px) {
    .hero-top__carousel {
        top: 23%;
        left: 20%;
        .hero-top__carousel__container {
            .item__description {
                & img {
                    min-width: 113px;
                    width: -webkit-fill-available;
                    width: fill-available;
                    margin: 0 5px;
                }
                &.item__description_active {
                    img {
                        min-width: 140px;
                    }
                }
                &:hover {
                    img {
                        min-width: 140px;
                    }
                }
                .carousel__item__overlay {
                    width: calc(100% - 10px);
                    margin-left: 5px;
                    .overlay__text {
                        padding: 0 10px 15px 10px;
                        font-size: 1.2rem;
                        line-height: 1.4rem;
                    }
                    .item__overlay__buttons {
                        padding-bottom: 10px;
                        padding-left: 10px;
                        flex-direction: column;
                        align-items: flex-start;
                        &>* {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
    .hero-top {
        .hero-top__pagination {
            padding-top: 0;
            .range {
                width: 140px;
                &::-webkit-slider-thumb {
                    width: 17px;
                }
                &::-moz-range-thumb {
                    width: 17px;
                }
            }
        }
        .hero-top__range {
            bottom: 5%;
        }
    }
}

@media screen and (max-width: 425px) {
    .hero-top__carousel {
        left: 2%;
    }
}